/*** ROOT HTML ***/

/* Typography */
:root {
  font-size: 16px;
  font-family: 'Inter', Helvetica, sans-serif;
  background-color: #F5F9FF;
  --input-color: #5B626D;
  --input-border: #A0A6AE;
  --input-background: #EBEEF1;
  --input-placeholder: #878E98;
  --input-border-focus: dodgerBlue;
}

.form-field {
  position: relative;
  box-sizing: border-box;
  width: auto;
  height: 48px;
  color: var(--input-color);
  padding: .5rem 1rem;
  margin: .5rem 0;
  /* line-height: 26px; */
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0;
  border-radius: 8px;
  border: 2px solid var(--input-border);
  background: var(--input-background);
  box-shadow: inset 0px 4px 6px rgba(95, 118, 149, 0.08), inset 0px 4px 10px 4px rgba(95, 118, 149, 0.1);
  transition: border .3s ease;
}

.form-field::placeholder {
  color: var(--input-placeholder);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
}

.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
  box-shadow: 0 0 8px 0 var(--input-border-focus);
}



html {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #333;
}

p {
  font-weight: 400;
  line-height: 140%;
}





/* Input */

input {
  appearance: none;
}

input#enter-item {
  width: auto;
}



/*** LIST ***/

/* State styles */
.done {
  text-decoration: line-through;
}



/*** LAYOUT ***/

/* Container */
#container {
  display: grid;
  grid-template-columns: 20% 10px 10%;
  grid-auto-rows: 100%;
  justify-content: start;
  align-content: space-around;
}

/* List */
#list {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
}

/* Bin */
#bin {
  list-style: none;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  cursor: pointer;
}



/*** BUTTONS ***/

/* Remove default browser button styles */
button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: center;
}

/* Default */
.button {
  box-sizing: border-box;
  width: auto;
  height: 48px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #fff;
  background-color: #333;
  border: 2px solid rgb(34, 34, 35);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}





/* Descendant selector */
/* .button p {
  color: #fff;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 0;
} */

/* Hover */


/* Active */


/* Focus */


/* Disabled */


/* Loading */


/* Success */


/* Button IDs */
/* #add-item {
  color: #333;
} */



/*** MISC STYLES ***/

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}